@use './typography' as *;
@use './vars' as *;
@use './fonts' as *;

html,
body,
#app {
  height: 100%;
}

html {
  scrollbar-width: thin;
  scrollbar-color: var(--bg-tertiary) transparent;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--bg-tertiary);
    border-radius: 4px;
    border: 2px solid transparent;
    background-clip: content-box;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: var(--bg-tertiary);
  }

}

body {
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span {
  color: var(--text-color-secondary);
}

h1 {
  @include typography('h1');
}

h2 {
  @include typography('h2');
}

h3 {
  @include typography('h3');
}

h4 {
  @include typography('h4');
}

h5 {
  @include typography('h5');
}

p {
  @include typography('p');
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
  height: inherit;
}

.backdrop {
  background: var(--backdrop-color);
  backdrop-filter: blur($blur-filter);
  -webkit-backdrop-filter: blur($blur-filter);
}