@use "sass:map";

$typography: (
  "h1": (font-size: 3rem, font-weight: 900, line-height: 1.2),
  "h2": (font-size: 2.5rem, font-weight: 600, line-height: 1.3),
  "h3": (font-size: 2rem, font-weight: 600, line-height: 1.4),
  "h4": (font-size: 1.5rem, font-weight: 500, line-height: 1.4),
  "h5": (font-size: 1.25rem, font-weight: 500, line-height: 1.4),
  "body": (font-size: 1rem, font-weight: 500, line-height: 1.6),
  "p": (font-size: 1rem, font-weight: 500, line-height: 1.6)
);


@mixin typography($style) {
  @if map.has-key($typography, $style) {
    $properties: map.get($typography, $style);

    font-size: map.get($properties, font-size);
    font-weight: map.get($properties, font-weight);
    line-height: map.get($properties, line-height);
  }

  @else {
    @warn "Style `#{$style}` does not exist in `$typography`.";
  }
}