$font-size-base: 16;
$text-color-primary: #fcc743;
$error-color: #ff0000;
$border-color: #cccccc;
$bg-menu-secondary: #79B8E1;
$bg-menu-tertiary: #92959b;
$icon-color-primary: #ffffff;
$disabled-opacity: 0.2;
$hover: 0.8;
$text-shadow: 4px 8px 8px rgba(0, 0, 0, 1);